/*import font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital,wght@0,100;0,300;1,700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');
:root{
    --light-gray:#2b3032a1;
    --primary-colour:#2874f0;;
    --border:#2b303218;
    --text-colour:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"gugi",cursive;
    --sofia:"Sofia",cursive;
}
.primary-color{
   color: var(--primary-colour);
}
.bg-primary-color{
    background-color: var(--primary-colour)!important;
}
.text-color{
    color: var(--text-colour);
}
.font-roboto{
    font-family: var(--roboto);
}
.lightblue{
    color: lightblue;
}
/*header*/
header{
    background-color: var(--primary-colour);
    font-family: var(--roboto);
}
.site-title{
    font-family: var(--gugi);
}
.dropdown-item{
    font-size: 0.7em;
}
.dropdown-toggle{
    font-size: 0.7em;
}
.header-link{
    font-size: 0.9em;
    text-decoration: none;
}
.colour{
    color: white;
}
/*navgation menu*/
.navbar-nav{
    padding: 0.8em;
}
.nav-link{
    font-size: 0.9em;
    color: var(--light-gray)!important;
}
.nav-item .nav-link{
    padding: 0 1.3em;
}
.market-icon{
    margin-right: 6.5rem !important;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 10%;
  }
  .mySlides{
      width: 100%;
      height: 30vw;
  }
  /*prodect card slider*/
 

  .mytext{
    font-size: 25px;
    width: 700px;
    padding-top: 2vw;
  }
  .prodect-card{
      margin: 0px;
      padding: 0px;
  }
  ul{
      margin-left: 0;
      padding-left: 0;
  }
  a{
      text-decoration: none;
  }
  .prodect-card{
      padding: 0;
      margin: 0;
      background-color: white;
  }
  
  .model{
      height: 350px;
      max-height: 100%;
      max-width: 100%;
  }
  .detailes{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
  }
  .detailes p{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #6a6a74;
      text-align: center;
  }
  .marvel{
      color: #32323e;
      font-weight: bold;
      font-family: bebas kai;
      
  }
/*new*/
.post-slider{
    position: relative;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    border: 1px dashed red;
}
.post-slider .post-wrapper .post{
    width: 300px;
    height: 350px;
    background: #0055ff;
    display: inline-block;
}

.my-class{
    margin: 5%;
}
.E-MAIL{
    width: 30VW;
    height: 3VW;
}
.SUBMIT{
    height: 3VW;
    width: 8VW;
}
.sign-up{
    margin: 5px;
}
.sign-btn{
    margin: 5px;
}